
@{
    ViewData["Title"] = "listar";
}

<h1>Lista de Times</h1>

<a asp-action="cadastrar" asp-controller="Time">Cadastrar</a>

    @if (TempData["msg"] != null)
    {
        <div class="alert alert-success">
            @TempData["msg"]
        </div>
    }

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Data Fundação</th>
        <th>Folha</th>
        <th>Vitórias</th>
        <th>Classificado</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.DataFundacao.ToLongDateString()</td>
            <td>@item.FolhaPagamento</td>
            <td>@item.Vitorias</td>
            <td>@(item.Classificado?"Sim":"Não")</td>
        </tr>
    }
</table>

<a asp-controller="Time" asp-action="cadastrar" class="btn btn-primary">Voltar para a Tela de Cadastro</a>

